.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  font-size:3em;
  padding: 20px;
  color: white;
}

.App-header h2 {
  font-size:1.1em;

}

.App-intro {
  font-size: large;
}

.main-form {
 margin: 15px auto;
 max-width: 25%;
 text-align:left;
}
.main-form form > div {
  margin: 8px 0 ;
  clear: both;
  height:20px;
}

.main-form label {
margin-right:5%;
float:left;
}

.main-form input[type="number"] {
border-radius:8px;
padding:3px;
box-sizing: border-box;
border:1px solid #bcbcbc;
float:right;
}

.main-form input[type="submit"] {
  background:#1f748b;
  padding:20px;
  display:block;
  margin:15px auto;
  color:white;
  font-size:2em;
  border: none;
  border-radius:8px;
}

.main-form input[type="submit"]:hover {
  background:#145060;
  cursor: pointer;

}

.city-list {
  margin:25px auto;
}



*, :after, :before {
 box-sizing: initial;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.card {
  display: inline-block;
  min-height: 120px;
  width: 18%;
  margin: 0 1%;

}

.ui.card .description {
  height:150px;
  overflow-y: scroll;
  padding-right:7px;
  box-sizing: border-box;
}
